
.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    
    &--steelblue{
        background-color: steelblue;
        color: white;
    }
}
 